/gym-app/.vscode/extensions.json
/gym-app/.vscode/launch.json
/gym-app/.vscode/tasks.json

# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/zaebalo/.vs/zaebalo/xs/project-cache/zaebalo-Debug.json
/zaebalo/.vs/zaebalo/xs/UserPrefs.xml
/api/.idea/.idea.gymappAPI/.idea/.gitignore
/api/.idea/.idea.gymappAPI/.idea/.name
/api/.idea/.idea.gymappAPI/.idea/encodings.xml
/api/.idea/.idea.gymappAPI/.idea/indexLayout.xml
/api/.idea/.idea.gymappAPI/.idea/vcs.xml
/api/.idea/.idea.zaebalo/.idea/workspace.xml
/api/.vs/zaebalo/xs/project-cache/zaebalo-Debug.json
/api/.vs/zaebalo/xs/UserPrefs.xml
/api/gymappAPI.sln.DotSettings.user
/api/gymappAPI/bin/
/api/gymappAPI/obj/
/client/.vscode/extensions.json
/client/.vscode/launch.json
/client/.vscode/tasks.json
/api/.vs/
/api/.idea/