
<div class="datepicker my-3">
  <mat-icon (click)="previousWeek()" role="button">arrow_circle_left</mat-icon>
 <app-date-range-picker (rangeChanged)="changeDates($event)"></app-date-range-picker>
  <mat-icon (click)="nextWeek()" role="button">arrow_circle_right</mat-icon>
</div>
<mat-icon role="button" (click)="toggleSidebar()">menu</mat-icon>

<div class="calendar" cdkDropListGroup>
  <app-sidebar *ngIf="sidebarOpen"/>
  <ng-container *ngFor="let day of days">
    <app-calendar-content [workouts]="day.workouts" [date]="day.date" [foods]="day.loggedFoods" class="calendar-content"/>
  </ng-container>

  <button mat-fab class="add-button" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="menu">
    <button class="menu-item" mat-menu-item (click)="openFoodDialog()">Log food</button>
    <button class="menu-item" mat-menu-item (click)="openAddDialog()">Workout</button>
    <button class="menu-item" mat-menu-item>Template</button>
  </mat-menu>
</div>
