.addnew{
  margin-top: 10px;
  display: flex;
  white-space:pre;
}

.container{
  width: 40vw;
  padding: 30px 30px;
}

.autocomplete{
  margin-right: 30px;
}

.btn{
  width: 100%;
  margin-top: 20px;
}

.content{
  max-height: 50%;
}

.addbtn{
  margin: 20px auto;
}

.newlinebreak{
  white-space: pre-line;
}

