.nav-bar{
  display: flex;
  justify-content: center;
  background-color: darkslategray;
  padding: 30px 50px;

  a{
    color: white;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  a:hover{
    cursor:pointer;
    color: #ffcc00;
  }
}

.active{
  color: #ffcc00 !important;
}
