<div class="wrapper">
<div class="container mx-auto p-3">
  <div class="d-flex flex-column align-items-center">
    <img class="rounded-circle" src="https://placehold.co/175x175">
    <div class="info my-1">
      <h2>{{User.username}}</h2>
    </div>

    @if (!isCurrentUser && friendshipStatus == FriendshipStatus.None){
      <button class="btn btn-success" (click)="sendFriendRequest()">Add friend</button>
    } @else if (friendshipStatus == FriendshipStatus.PendingSent){
      <p>Friend request sent. Waiting for {{User.username}} to accept it!</p>
    } @else if (friendshipStatus == FriendshipStatus.PendingReceived){
      <p>{{User.username}} wants to be friends with you!</p>
      <div class="d-flex gap-2">
        <button class="btn btn-success" (click)="acceptFriendRequest()">Accept</button>
        <button class="btn btn-danger" (click)="rejectFriendRequest()">Reject</button>
      </div>
    } @else if (friendshipStatus == FriendshipStatus.Friends){
      <p>You are friends!</p>
      <button class="btn btn-danger" (click)="unfriend()">Unfriend</button>
      <a [routerLink]="['/workouts', User.username]">Check {{User.username}}'s workouts</a>

    }

    <h4>{{workouts?.length ?? 0 }} workouts in the last year</h4>
    <app-activity-graph *ngIf="workouts != null" [contributions]="workouts" [startDate]="activityStartDate"/>

    <div class="flex-row d-flex stats-wrapper">
      <div class="stats d-flex flex-column align-items-center">
        <h4>Max workouts a month</h4>
        <h3>{{maxWorkoutsAMonth()}}</h3>
        <p>workouts</p>
      </div>
      <div class="stats d-flex flex-column align-items-center">
        <h4>Workouts this month</h4>
        <h3>{{workoutsPerMonth()}}</h3>
        <p>workouts</p>
      </div>
    </div>
  </div>
</div>
</div>
