.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
}

.rounded-circle{
  width: 175px;
  height: 175px;
}

.stats-wrapper{
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width:100%;
}

.stats{
  padding: 10px;
  border: black solid 1px;
  border-radius: 20px;
  width:48%
}
